* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.flashcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 900px; /* Limita o tamanho */
}

.flashcard {
    background-color: #db4a34;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.flashcard:hover {
    transform: scale(1.05);
}

.card-content {
    text-align: center;
}

.question {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.answer {
    display: none;
    font-size: 1rem;
    margin-top: 10px;
}

.flashcard.active .question {
    display: none;
}

.flashcard.active .answer {
    display: block;
}
